<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/style.css">
    <title>About me</title>
</head>
<body>
    <header>
        <h1 class="title">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam, dicta obcaecati iusto vero eius animi voluptas, illum neque, quasi debitis fuga corrupti voluptatem ducimus. Itaque atque pariatur officiis suscipit quia?</h1>
        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet nam ratione est quaerat nulla, rem repudiandae cupiditate illo, id mollitia, corporis blanditiis voluptates eos consectetur! Labore quasi libero alias ut.</p>
    </header>
</body>
</html>